
<title>Home | Tootle</title>

<% layout('/layouts/boilerplate') -%>
<div class="d-flex justify-content-center">
    <h1 class="mt-5 fw-bold">Welcome!</h1>
</div>

<div class="mt-5 d-flex justify-content-center flex-wrap ">
    <% for(let list of lists) { %>
        <div class="d-inline-block m-3">
            <div class="card mb-3" style="width: 18rem;">
                <img src="<%= list.image%>" class="card-img-top img-fluid" alt="Image" unselectable="on">
                <div class="card-body">
                    <h5 class="card-title fw-bold fs-5"><%= list.name%></h5>
                    <p class="card-text" style="font-size: 12px; font-style: italic;"><%= list.address.addr %></p>
                    <p class="card-text text-truncate"><%= list.description %></p>

                    <div class="d-grid gap-2">
                        <a href="/listings/<%= list._id %>" class="btn btn-primary w-100%">View</a>
                    </div>
                </div>
            </div>
        </div>

    <% } %>

</div>

